<div class="background-white">
    <img src="/assets/css/img/burger-photo-main.jpg" alt="main-burger-photo" id="burger-photo-main">
    <h1>Wanna Burger?</h1>
</div>


{{!-- ======================================================= --}}
{{!-- =================================== Not Eaten burger section --}}
{{!-- ======================================================= --}}


<div class="not-eaten-burgers">
    <div class="column-top">
        <hr>
        <h2>Burgers not eaten!</h2>
        <hr>
    </div>
    <div>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>


{{!-- ======================================================= --}}
{{!-- =================================== Eaten burger section --}}
{{!-- ======================================================= --}}

<div class="eaten-burgers">
    <div class="column-top">
        <hr>
        <h2>Burgers eaten!</h2>
        <hr>
    </div>
    <div>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>

{{!-- ======================================================= --}}
{{!-- =================================== add a burger section --}}
{{!-- ======================================================= --}}

<div class="addABurger">
    <h3>Add a Burger</h3>
    <hr>
    <form id="create-form">

        <div class="form-group">
            <label for="bu">Burger Name:</label>
            <input type="text" id="bu" name="burger_name">
        </div>

        <div class="form-group">
            <label for="devoured">Choose a side</label><br>
            <input type="radio" name="devoured" value="1" id="devoured" checked> Eaten<br>
            <input type="radio" name="devoured" value="0" id="notDevoured"> Not Eaten

            <div><button type="submit">Add Burger</button></div>

        </div>
</div>


</form>